a {
  color: #00b7ff;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: normal;
}

tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input {display:none;}

.switch .round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch .round:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch input:checked + .round {
  background-color: #2196F3;
}

.switch input:focus + .round {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .round:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.switch .round {
  border-radius: 32px;
}

.switch .round:before {
  border-radius: 50%;
}