<footer class="footer">
    <div class="content">
        <p>
            <span>&copy; <%= new Date().getFullYear() %> <strong><%= process.env.npm_package_name.toLocaleUpperCase() %></strong></span>
            <span>版本: v<%= process.env.npm_package_version %></span>
        </p>
    </div>
</footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/scripts/layer.js"></script>
<script src="/scripts/main.js"></script>

</html>